[2014-05-12 10:35] leeper opened #1 "Create a response polling example"
Should be easy to create an example that retrieves respondents since last check; basically just using `Sys.time`, `respondentlist`, and `getresponses`. Based on example [here](https://developer.surveymonkey.com/mashery/polling).

[2014-05-15 04:57] leeper opened #2 "Better handling of sm_response objects"

[2014-05-15 19:29] #2 closed, assigned to nobody

[2015-01-26 11:20] LoesClephas opened #3 "responses for RMonkey don't give the right result"
I logged in by smlogin and wrote the following code hereafter... I only want results from the first survey and the first three respondents:

s <- surveylist()

s1 <- as.character(s[[1]])

r <- respondentlist(s1)
r1 <- as.character(r[[1]])
r2 <- as.character(r[[2]])
r3 <- as.character(r[[3]])

r <- as.array(c(r1,r2, r3))

z <- getresponses(r, s1)
z

console spits out the following:

[[1]]
Responent

[2015-01-26 11:40] leeper commented on #3
The JSON data structure that you describe is converted automatically by Rmonkey into an R list, where each respondent is a list element of class `sm_response`. This list structure, which you can see by typing `str(z)` will contain all of the response data. Objects of class `sm_response` have been given [a very compact `print` method](https://github.com/leeper/Rmonkey/blob/master/R/getresponses.r#L

[2015-01-26 12:24] LoesClephas commented on #3
Thank you leeper for your extensive answer... do you know which package is used for function add_header?

I am trying to use your function now to make this all work :).

[2015-01-26 12:28] LoesClephas commented on #3
Never mind, found it (package httr)

[2015-01-26 12:52] LoesClephas commented on #3
What exactly should be the variables to put in the following function you describe: as.data.frame.sm_response <- function(x, details = NULL, ...)

in other words what should I fill in at "x" and at "details"... I am not very good at lists so this is quite confusing for me... Hope you find the time to help me...

In the end I would like to build a function I can retrieve a datatable per survey with

[2015-01-26 13:09] LoesClephas commented on #3
Or should I write a function myself depending on the type of questions asked in the survey and extracting all numbers by for example:

z[[1]][2]$questions[[1]]$answers[[1]]$text (which returns a string of 49)?

[2015-01-26 14:08] LoesClephas commented on #3
With another survey I get the following error message:
when using getresponses(r,s1) I get the following error:

Error in lapply(content$data, `class<-`, "sm_response") :
  attempt to set an attribute on NULL

This might be caused by the fact that the content$status == 0

any idea how to overcome this?

output by API Console:

{
  "status": 0,
  "data": [
    null,
    {
      "respondent_id": "37

[2015-01-26 14:43] leeper opened #4 "Error: attempt to set an attribute on NULL"
As described in #3 (https://github.com/leeper/Rmonkey/issues/3#issuecomment-71465276), applying class "sm_response" fails when there are `NULL` responses.

[code]

This might be caused by the fact that the `content$status == 0`

any idea how to overcome this?

Output by API Console:

[code]

[2015-01-26 14:43] #4 closed

[2015-01-26 14:45] leeper commented on #3
I think I've fixed this error now. You'll need to reinstall from GitHub (and probably restart R).

I intentionally do not collapse the responses data into anything other than a list because the particular structure of the response can vary by question type. If your questionnaire is quite simple, you should be able to do something like `do.call('rbind.data.frame', z)` and get a data.frame out of th

[2015-02-05 09:39] hjermann commented on #3
Hi leeper,

I have followed your example to retrieve survey responses, but executing following command:

$status
[1] 3

$errmsg
[1] "Failed to validate field 'respondent_ids' list schema: Value {u'respondent_id': u'3737439016'} for field '_data' is not of type string"

Am I doing something totally wrong?

[2015-02-05 11:39] leeper commented on #3
@hjermann Can you include the output of `str(r)` for me? I think the respondent list structure is not formatted correctly, so SurveyMonkey doesn't know what is being requested.

[2015-02-05 12:06] hjermann commented on #3
Hi Thomas,

Thank you for quick response :)

The result of str(r) is following:

List of 173

$ :List of 1

  ..$ respondent_id: chr "3737439016"

  ..- attr(*, "class")= chr "sm_respondent"

$ :List of 1

  ..$ respondent_id: chr "3733404977"

  ..- attr(*, "class")= chr "sm_respondent"

$ :List of 1

  ..$ respondent_id: chr "3733403715"

  ..- attr(*, "class")= chr "sm_respondent"

$ :List of 1

[2015-02-05 12:08] LoesClephas commented on #3
I am still working on a nice function to get a datatable from surveymonkey
stuff... Just not at the moment because I am occupied with other things...
I will get back to that as soon as I have time to work on it again.

Grz,

Loes

2015-02-05 13:06 GMT+01:00 Hindrek Jermann <notifications@github.com>:

--
___________________________
ir. Loes Clephas
Vreelandgroep Organisatie-adviseurs

T: 035-54239

[2015-02-05 12:15] hjermann commented on #3
Hi Loes,

By default jsonlite function fromJSON returns result as data.frame object. Maybe this can be used olso in your functionality?

jd<-fromJSON("https://api.github.com/users/hjermann/repos")

[1] “data.frame”

Regards,

Hindrek

From: LoesClephas [mailto:notifications@github.com]
Sent: Thursday, February 5, 2015 2:09 PM
To: leeper/Rmonkey
Cc: Hindrek Jermann
Subject: Re: [Rmonkey] responses

[2015-02-05 13:04] leeper commented on #3
@hjermann Try reinstalling from Github (you may need to also then restart R) and try this again. This might have been easy fix (which I've taken care) or it will take a little more work (and I'll have to look into it later).

[2015-02-05 13:52] hjermann commented on #3
@leeper Thank you! At the moment I was able to get also getresponses() result.

[2015-02-13 20:58] dnchari commented on #3
Hi leeper, I am unable to to convert the responses I get to a data.frame

[2015-02-13 22:01] leeper commented on #3
I've just sent a patch that hopefully addresses these issues. @dnchari  @hjermann @LoesClephas, please reinstall from Github and confirm that it is working for you successfully. Note in particular, that you can use the `as.data.frame` method for the `sm_response_list`. I've now imported `plyr::rbind.fill`, which should create a well-formed data.frame from this response list automatically. `getresp

[2015-02-19 15:27] dnchari commented on #3
Hi Tom,
Thanks. How to get the Survey ID? I would like to get data for a particular survey. I only know the name of the survey.
Thank You,Chari

      From: Thomas J. Leeper <notifications@github.com>
 To: leeper/Rmonkey <Rmonkey@noreply.github.com>
Cc: dnchari <dnchariworld@yahoo.com>
 Sent: Friday, February 13, 2015 5:01 PM
 Subject: Re: [Rmonkey] responses for RMonkey don't give the right resul

[2015-02-19 15:28] dnchari commented on #3
Hi Tom,

Thanks. How to get the Survey Id? I would like to get the data for a particular survey. I only know the survey name.

Thanks,
Chari

Sent from my iPhone

[2015-02-19 16:01] leeper commented on #3
@dnchari Use the `surveylist()` function to get a list of all of your surveys.

[2015-02-19 19:54] dnchari commented on #3
Yes, that gives the list. How can I select one survey based on the survey name. I only can see survey ID when I look at surveylist().

Sent from my iPhone

[2015-03-06 12:11] LoesClephas commented on #3
any idea how to solve the following error (where survey is "64820318" and collector is "61684114").

In Rstudio:
respondentlist(survey, collector,,,,,,,,,"first_name",getOption('sm_api_key'),getOption('sm_oauth_token'))

Console:
Error in respondentlist(survey, collector, , , , , , , , , "first_name",  :
  client error: (403) Forbidden

respondentlist(survey,collector) works fine... looks like I d

[2015-03-06 13:10] leeper commented on #3
@LoesClephas Your code is a little unclear to me. You don't need to include the commas,  you can just specify the argument using its name, like `respondentlist(survey, collector, fields = "first_name")`. Is that what you're going for? Seems like it could just be placing the argument in the wrong position.

[2015-03-06 15:12] LoesClephas commented on #3
@Thomas Leeper, yes you were right... I am wondering... is it also possible
to retrieve the names of the people that were invited but didn't respond
yet?

2015-03-06 14:10 GMT+01:00 Thomas J. Leeper <notifications@github.com>:

--
___________________________
ir. Loes Clephas
Vreelandgroep Organisatie-adviseurs

T: 035-5423922
M: 06-83440388
E: clephas@vreelandgroep.nl

Soestdijkseweg Zuid 224
3721

[2015-03-06 16:00] leeper commented on #3
@LoesClephas  You should be able to pass "status" as a `field`. I'm not sure exactly what the response will look like (the documentation is vague on that).

[2015-03-06 16:03] LoesClephas commented on #3
the response is only whether a response is completed of "started"...
however it doesn't result in a list of people that did not respond at
all... only people that have started to respons or completed the response.

2015-03-06 17:00 GMT+01:00 Thomas J. Leeper <notifications@github.com>:

--
___________________________
ir. Loes Clephas
Vreelandgroep Organisatie-adviseurs

T: 035-5423922
M: 06-834403

[2015-03-06 16:05] leeper commented on #3
@LoesClephas Looks like it's not one of the available statuses: http://stackoverflow.com/a/21439288/2338862

[2015-03-06 16:07] LoesClephas commented on #3
that's what I thought...

2015-03-06 17:05 GMT+01:00 Thomas J. Leeper <notifications@github.com>:

--
___________________________
ir. Loes Clephas
Vreelandgroep Organisatie-adviseurs

T: 035-5423922
M: 06-83440388
E: clephas@vreelandgroep.nl

Soestdijkseweg Zuid 224
3721 AJ  Bilthoven
Postbus 116
3720 AC Bilthoven
KvK-nr 320 86 880

 <https://www.youtube.com/watch?v=bjzVSoZvA7I>
__________________

[2015-03-06 16:07] LoesClephas commented on #3
thank you :)

2015-03-06 17:07 GMT+01:00 Loes Clephas <clephas@vreelandgroep.nl>:

--
___________________________
ir. Loes Clephas
Vreelandgroep Organisatie-adviseurs

T: 035-5423922
M: 06-83440388
E: clephas@vreelandgroep.nl

Soestdijkseweg Zuid 224
3721 AJ  Bilthoven
Postbus 116
3720 AC Bilthoven
KvK-nr 320 86 880

 <https://www.youtube.com/watch?v=bjzVSoZvA7I>
______________________________

[2015-03-20 07:23] #1 closed

[2015-03-20 07:23] #3 closed

[2015-04-16 13:17] dnchari commented on #3
Hi Tom,
Can we store credentials using ROAuth package to build a shiny App? something like
download.file(url="http://curl.haxx.se/ca/cacert.pem",destfile="cacert.pem")
cred = OAuthFactory$new(consumerKey='key',                        consumerSecret='secret',                        authURL='http://localhost:1410',                        response_type = 'code')cred$handshake(cainfo="cacert.pem")save

[2015-04-17 13:27] leeper commented on #3
@dnchari Rmonkey uses httr for OAuth. The ROAuth package is a separate regime and I make no promises that Rmonkey will work with it. That said, the SurveyMonkey OAuth token is long-lived, so it should be easy to store an OAuth token however you choose to generate it. I'm not a Shiny expert, so I can't speak to exactly how that would work in your context.

[2015-05-21 12:01] matentzn opened #5 "Cant convert survey responses to data.frame"
I was super greatful when I saw your tool.. However, I have trouble to convert the survey responses to a data frame. I can see that after calling `g <- getresponses(r, s[[2]])`, I do get the results of the survey. However, when calling `as.data.frame(g)`, I get:

[code]

Could it have anything to do with 1) incomplete responses or 2) weird special characters in the questions? Cheers!

[2015-05-21 12:04] leeper commented on #5
Can you paste in the output of `str(g)` for me? If it's long, just the first 5-10 lines would do.

[2015-05-27 13:32] matentzn commented on #5
List of 40
 $ :List of 2
  ..$ respondent_id: chr "3975598496"
  ..$ questions    :List of 28
  .. ..$ :List of 2
  .. .. ..$ answers    :List of 1
  .. .. .. ..$ :List of 2
  .. .. .. .. ..$ text: chr "Living Semantic Platform"
  .. .. .. .. ..$ row : chr "0"
  .. .. ..$ question_id: chr "751902353"
  .. ..$ :List of 2
  .. .. ..$ answers    :List of 1
  .. .. .. ..$ :List of 1
  .. .. .. .. ..$

[2015-05-27 13:52] leeper commented on #5
Hmm...that looks reasonable. After you get the error, can you type `traceback()` into the R console and copy the output from that?

[2015-05-27 13:54] matentzn commented on #5
6: vector(type, length)
5: allocate_column(df[[var]], nrows, dfs, var)
4: output_template(dfs, nrows)
3: rbind.fill(tmp)
2: as.data.frame.sm_response_list(g)
1: as.data.frame(g)

Could it have to do something with special chars? Ore maybe with incomplete survey responses?

[2015-05-27 14:12] leeper commented on #5
Okay, so the error is occurring in the very last part of the data.frame construction, specifically inside a call to `plyr::rbind.fill`, which is supposed to coerce a list of data.frames into a single data.frame. This should tolerate missing data and all sorts of other irregularities. Is there anything unusual about the particular survey you're working with?

[2015-05-27 14:18] matentzn commented on #5
If you want, I can can share the survey with you (data is public anyways). Here is a link to the actual survey: https://www.surveymonkey.com/r/6F9K89X

Some things I noted going through it: 1) size: The answers are ocassionally long, ie, have long freetext sections or many checkboxes to select from. 2) chars: There are often non asci, and maybe even non utf-8 characters in the responses (if that w

[2015-05-27 14:40] matentzn commented on #5
(i could also send you a csv data export dump from survey monkey)

[2015-05-27 14:52] leeper commented on #5
I've been trying to think about how to debug this. The problem is that there are actually a lot of API calls happening inside the `as.data.frame` method so it's hard for you to just send me something to examine because there are several moving pieces. If you're willing to do a bit of debugging for me, that might be the best way to figure this out.

Specifically, the object we need to look at is [t

[2015-05-27 15:22] matentzn commented on #5
"lot of API calls happening inside the as.data.frame" --> you mean API calls to survey monkey? If that is so, then the problem might lie in the insufficiency of my developer plan I am subscribed to..

Thanks a lot for your help. I wont be able to do this today, as I am on a trip right now until next Monday.. I will try to do it then. I will let you know what I find out, and thanks again!

[2015-05-27 15:27] leeper commented on #5
Well, ideally not "a lot" if I coded it all correctly, but definitely some. That's because the API doesn't really return survey responses - it returns codes that have API-specific meanings that can be translated to survey responses by referencing them against a description of the survey structure, so it requires some back and forth. I don't think exceeding your plan is the issue here but it's poss

[2015-08-08 21:56] klittle314 opened #6 "Error: could not find function "as.data.frame.sm_response""
Hi Tom, thanks for your package, helping me with a project.   Am talking to my SurveyMonkey account and extracting information about my surveys, was moving along fast.

But I am getting an error in calling the as.data.frame.sm_response and as,data.frame.sm_response_list functions, R thinks these don't exist?

Rmonkey version 0.2.11 and R version 3.2.0, Windows.

thanks, can provide more details...

[2015-08-09 11:50] leeper commented on #6
Hi Kevin, what's the exact code you're using? You shouldn't try to call the `as.data.frame.sm_response`, etc. functions directly but instead allow R to engage S3 method dispatch on the objects (i.e., just call `as.data.frame` on the response object). If you want to call the methods directly, you have to use `:::` notation (as in `Rmonkey:::as.data.frame.sm_response`, etc.) because those methods ar

[2015-08-09 22:01] klittle314 commented on #6
Thanks Tom, I think I grasp what you're saying.

My survey has a mix of multiple choice and free text fields and that may be causing me trouble.

I have defined my respondent list as resp_list and my survey as ID_survey[[1]].   These objects exist in the Global Environment and match what I see in the SurveyMonkey user interface.

When I run the suggested function in your help description
a <- getr

[2015-08-10 05:45] leeper commented on #6
I think you can simplify your code and that will solve this problem `getresponses` can accept either a vector of respondent IDs or a list of "sm_respondent" objects, so you should be able to just do:

[code]

Or even:

[code]

Once you've run that code, you should be able to just call `as.data.frame(a)` to get it all back as a neat data.frame.

(The code you're showing there suggests you're trying

[2015-08-13 03:24] klittle314 opened #7 "error on running createsurvey?"
running the createsurvey function generates an error, e.g your example from HELP file

             collector_name='Emails',
             recipients = list('first@example.com', 'second@example.com'),
              email_replyto='me@example.com', email_subject='Please complete a short survey!')

$status
[1] 3

$errmsg
[1] "additional properties not defined by 'properties' are not allowed in field '

[2015-08-13 12:18] klittle314 commented on #6
Thanks, this works for a specific individual response but there appears to be something in the data structure causing an error, taking the data apart and trying to understand.

![image](https://cloud.githubusercontent.com/assets/3459577/9249542/6e715828-418b-11e5-985e-6fc0c5d90a59.png)

[2015-08-13 12:44] klittle314 commented on #6
Looks like the problem is that at least one of the responses has missing data, so the function call blows up, can't make a dataframe because unequal number of records among respondents.  digging more.

[2015-08-13 19:05] leeper commented on #7
What version of Rmonkey are you using? (you can see this using `sessionInfo()`).

[2015-08-13 20:08] klittle314 commented on #7
R version 3.2.0 (2015-04-16)
Platform: x86_64-w64-mingw32/x64 (64-bit)
Running under: Windows 7 x64 (build 7601) Service Pack 1

locale:
[1] LC_COLLATE=English_United States.1252
[2] LC_CTYPE=English_United States.1252
[3] LC_MONETARY=English_United States.1252
[4] LC_NUMERIC=C
[5] LC_TIME=English_United States.1252

attached base packages:
[1] stats     graphics  grDevices utils     datasets
[6]

[2015-08-20 19:59] klittle314 commented on #7
checking your createsurvey function:  when the body element b is created as a list and converted to JSON, the input and output are given:

INPUT
b <- list(survey=list(from_survey_id=as.character(s[[10]]$survey_id),
          survey_title="Test Title"),
          collector=list(type="email",
                         name="Email_1",
                         recipients=list(c('zrubin@ihi.org'))),

[2015-08-22 17:17] klittle314 commented on #7
Succeeded in creating a survey, copying an existing survey.  There appear to be a couple of issues in your createsurvey function.

First, I don't know how to modify the list structure to create the missing braces discussed in previous comment, so I generated the required string and manually inserted the braces.   Will use  sub function working on strings as last resort if I can't figure out list s

[2015-08-24 00:28] leeper commented on #7
Unfortunately, I can't work on this for a couple of weeks (I'm moving internationally). Would you be able  to put together a pull request that fixes this? If not, it's no problem; I just can't get to it until the second week of September.

[2015-08-24 15:32] klittle314 commented on #7
Yes, I will get to this next week or let you know if I have failed to do things the right way.   It will be good practice in working with GitHub, I am incorporating into project workflow.

Have a good move, thanks again for working on the package.

PS We built by hand (with for loops, we may redo with apply family) a way to get a summary data frame translating the coded answers in SurveyMonkey int

[2015-08-25 01:15] leeper commented on #7
Great! I'll look forward to the PR. Feel free to submit any changes you think would be helpful (as separate commits). And don't forget to add yourself as a contributor to the DESCRIPTION file. Thanks!

[2015-08-25 02:21] klittle314 commented on #7
OK, sent Pull Request, updating createsurvey.R, createsurvey.Rd, and DOCUMENTATION file.   I had a couple of questions still unclear, will test some more about required parameters (e.g. email_body).

Still getting the hang of GitHub so I may not have done things exactly right.

thx

Kevin

[2015-09-11 10:14] bcaessens commented on #5
Hi,
First off, thank you for putting this together, it is (potentially :-) a time saver.
I am not sure if this is the same issue, but anyway. When I run the as.data.frame on a response object, the dataframe is full of numbers. Like so:

g=getresponses(r[[1]],s[[1]])

[[1]]
Responent ID: 4189125149

attr(,"class")
[1] "sm_response_list"

This looks okay from what I have been reading, also, str(g) g

[2015-09-11 12:21] leeper commented on #5
Can you try just `as.data.frame(g[[1]])`? And, maybe also try `as.data.frame(g, details = surveydetails(s[[1]]$survey_id))`? What do those do for you?

Also, what kind of response structure are you expecting for this survey exactly?

[2015-09-14 06:04] bcaessens commented on #5
Hi Thomas,

Appreciate your reply. I tried both of them, but none seem to give me something intelligible in the survey, so I keep getting the answer id numbers, and not the actual text or response.

As to the expected response structure, my guess (based on using excel/csv exports from surveymonkey before) would be to get the question label in the df columns, respondents answers in the rows. In thi

[2015-09-14 07:31] bcaessens commented on #5
Hi Thomas,

I extracted the code for as.data.frame from getresponses.R and ran it with through debug. Not quite sure it this is of any help, but here is what I found. Here is the output on error:
debug at #33: responses <- mapply(function(i, type) {
    if (type %in% c("single_choice", "multiple_choice"))
        unname(answerchoices[match(unlist(i$answers), names(answerchoices))])
    else unname

[2015-09-14 07:34] leeper commented on #5
@bcaessens  Yes, that looks helpful because it appears the function does not accommodate the type of question you're asking. I'll try to create an example survey and work through it. I'm a bit swamped with other things at the moment, so I can't promise anything for the next few days.

[2015-11-04 01:42] leeper opened #9 "Move to cloudyr"
Move this to cloudyr:

- [x] Update README and DESCRIPTION
- [ ] Update travis builds
- [x] Add push to cloudyr drat
- [x] Update cloudyr website listing

[2015-11-05 03:58] bloyal opened #10 "Attempt to set an attribute on null"
I'm getting an "Error in setNames(k$text, k$answer_id) : attempt to set an attribute on NULL" error when I try to cast the Rmonkey response object as a data frame. It looks like one of my survey questions (It has a type of "label - maybe it's the button to go to the next page?) has a null $text value. Could that be an issue?

Here's my traceback:

Error in setNames(k$text, k$answer_id) :
  attempt

[2015-11-05 04:06] bloyal commented on #10
the response object looks something like this:

List of 2
 $ respondent_id: chr "4305718703"
 $ questions    :List of 16
  ..$ :List of 2
  .. ..$ answers    :List of 3
  .. .. ..$ :List of 1
  .. .. .. ..$ row: chr "9571169461"
  .. .. ..$ :List of 1
  .. .. .. ..$ row: chr "9561318489"
  .. .. ..$ :List of 1
  .. .. .. ..$ row: chr "9561318492"
  .. ..$ question_id: chr "871278703"
  ..$ :List o

[2015-11-08 09:59] leeper commented on #7
Closed by #8/https://github.com/cloudyr/Rmonkey/commit/f90f6dea4707f3b9007f31c5dba094ad2ff712d2.

[2015-11-08 09:59] #7 closed

[2015-12-04 22:14] BenjaminWatts commented on #5
hey - i think I have a similar problem - any suggestions for how I could get around or contribute a solution would be much appreciated

[2015-12-18 14:00] #9 closed

[2015-12-18 14:01] leeper commented on #5
I believe I have fixed this. Can you check whether the latest version is now working for you, @BenjaminWatts @matentzn @bcaessens ?

[2015-12-18 14:01] leeper commented on #6
@klittle314 I believe I have fixed this. Can you reinstall from GitHub and let me know if it's work for you?

[2015-12-18 14:02] leeper commented on #10
@bloyal I have sent a patch that I think should fix this. Can you see if it works for you?

[2015-12-19 12:20] leeper opened #11 "Add function to extract question wordings"
These get stored as attributes during `as.data.frame()`, but it would also be helpful to be able to have a list mapping question numbers to question wordings.

[2015-12-19 18:35] #11 closed

[2015-12-29 19:55] mstevens11 commented on #5
Hello leeper,
I am having the same problem.  I just reinstalled plyr and the problem is still there unfortunately.  Thanks for any assistance on this!
Megan

[2015-12-29 20:08] mstevens11 commented on #5
Excuse me - I hadn't read the previous thread closely.  I am not using survey data, but I was having the same problem with the rbind.fill function of plyr.  For future reference, the problem was because some of the column names in the data frame were NA.  I renamed the column names and the problem was solved.  Hope this will help someone in the future!

[2016-01-03 21:50] klittle314 commented on #6
Yes!  Just downloaded revised package and successfully created a survey using the createsurvey function.   Thanks again for working on the package

(now we just need to work thru SurveyMonkey idiosyncracies with survey title strings that make it painful to get surveylist function happy--this appears to be an issue with the SurveyMonkeyAPI, not your function as I can confuse SurveyMonkey using the

[2016-01-03 21:50] #6 closed

[2016-01-04 15:43] leeper commented on #6
@klittle314 Excellent!

[2016-01-04 15:43] #5 closed

[2016-01-04 15:43] #10 closed

[2016-01-05 17:47] leeper opened #12 "Fix references to "Mashable" should be "Mashery""
h/t https://twitter.com/milescederman/status/684427873122304001

[2016-01-05 22:06] #12 closed

[2016-02-22 21:43] aws6050 opened #14 "getallresponses(s[[1]]) gives a error, that NAs are not allowed in subscripted assignments."
Hi. Really excited about this package!

My issue is that I'm using Rmonkey on a variety of surveys of different types on a account and I always get the error below when I try to convert to a data frame. The lists returned by getresponses() look reasonable but both getallresponses(s[[1]]) and as.data.frame(g) all return the error below?

Error in names(responses)[names(responses) == unique_names[i]

[2016-02-22 23:49] leeper commented on #14
Can you give me a little more information about the survey(s) you're working with? Does this happen on all of them? Or just some? Anything special about those that it fails on?

[2016-02-23 02:32] aws6050 commented on #14
Thank you! It was happening on all of the surveys that I tested. The
surveys in my account were ordinary and made by different people for
different purposes, so I can't think of anything special about them.
On Feb 22, 2016 6:49 PM, "Thomas J. Leeper" <notifications@github.com>
wrote:

[2016-02-23 07:46] leeper commented on #14
Okay, thanks. Can you give me the output from `traceback()` after the error occurs?

[2016-02-23 17:19] aws6050 commented on #14
Sure! As follows:

6: as.data.frame.sm_response(X[[i]], ...)
5: FUN(X[[i]], ...)
4: lapply(x, as.data.frame, details = details, stringsAsFactors = stringsAsFactors,
       ...)
3: as.data.frame.sm_response_list(out, details = d)
2: as.data.frame(out, details = d)
1: getallresponses(s[[1]])

[2016-03-15 13:55] rsmquest commented on #14
I am having the same issue using Rmonkey. Can see all question and answer ids, etc. using `str(d)` and `str(g)`, but struggling to coerce the data into a data frame - comes up with the same error as above when using `as.data.frame(g)`

  NAs are not allowed in subscripted assignments

and trying `as.data.frame(d)` for good luck returns

  cannot coerce class ""sm_survey"" to a data.frame

any help

[2016-03-17 12:03] rsmquest commented on #14
edit: fixed by using `as.data.frame.ts(g)` rather than just `as.data.frame(g)`. Don't know how/why this works but pleased it has for me

[2016-03-17 12:24] leeper commented on #14
@rsmquest Thanks for that. I will take a look and try to figure this out soon. Sorry for the trouble.

[2016-03-17 23:34] rsmquest opened #15 "RMonkey data frame"
I've downloaded data from SurveyMonkey using RMonkey into a data frame using the following code:

[code]
Using the data editor, I can see that the data obtained for each respondent is all in one column, as shown in this screengrab:

![screenshot](http://i.stack.imgur.com/az8MY.png)

I want to be able to have the question  ##as the header of the column and return all related answer IDs for each res

[2016-03-20 18:01] leeper commented on #15
Taking another look at this, it would appear that the issue is actually an error in `as.data.frame()` (probably same issue as in https://github.com/cloudyr/Rmonkey/issues/14). So you're looking at your initial `g` object rather than a data.frame representation thereof. Can you confirm that you're seeing an error during the `as.data.frame(g)` step, @rsmquest?

[2016-03-20 21:22] leeper opened #16 "Question attributes"
`as.data.frame()` sets "question" attributes. This should be updated to include the column name for "matrix" type questions so that it is possible to distinguish questions from one another.

[2016-03-21 14:18] rsmquest commented on #15
`class(g)` confirms `"data.frame"`, but get this error message when opening data editor:

[2016-03-22 12:28] rsmquest commented on #15
Is there any way to manually separate these lists in the meantime? I've been trying all sorts of methods, but haven't had much success so far

[2016-03-22 12:57] leeper commented on #15
@rsmquest The challenge is how the Survey Monkey API returns data values. It doesn't return raw data, but rather codes that correspond to data values stored in the "surveydetails" object. This means there's not really any useful way of looking at the value returned by `getresponses()` on its own.

The `as.data.frame()` method is actually quite convoluted. I have an idea for how to fix this, but it

[2016-03-27 21:48] leeper opened #17 "Upgrade to v3 API"
https://developer.surveymonkey.com/api/v3

[2016-04-05 18:49] kwhitely opened #18 "Skipped Questions"
Using `getallresponses()` works great as long as all of the questions are answered.  If any questions are skipped I get the following error:
[code]
I found that everything works if all questions are answered or if the same questions are skipped every time. In the latter case, only the answered questions show up in the data frame.  Would it be possible to make any skipped questions `NA` or `NULL`?

[2016-04-05 19:09] leeper commented on #18
Thanks. Yes, there are actually many problems here (relatedly see #14). I am completely refactoring everything on a feature branch: https://github.com/cloudyr/Rmonkey/tree/df-fixes and will merge it in when complete. Sorry for the problems!

[2016-04-05 19:34] kwhitely commented on #18
Thank you for the quick reply.  I also had the problem with #14, but was able to get around it by redesigning the survey to not have any subquestions.

[2016-04-05 20:16] kwhitely commented on #18
leeper, I'm sure you have a better fix in mind, but I wanted to post this in case anyone is looking for a fix before your update.  I got it working by
[code]

[2016-04-11 19:46] jsramos commented on #18
Thanks for creating the package. Unfortunately, I'm also running into this error, particularly when dealing with multiple option questions, since SM leaves an empty row to address the options.

[2016-05-13 17:26] carloserwin commented on #14
Hi,

I am having the exact same problem, hope you can fix it ASAP. Following your code I tried to download the data base with the responses from a survey (this is all that I need) directly using the V3 of the API (Rmonkey uses V2) but it is really hard. After two days I still dont see the light!!! This is what I have been trying

           api_key, sep="")

Error: Not Found (HTTP 404)

Any help w

[2016-06-07 19:07] klittle314 opened #19 "getresponses logic version on GitHub vs 3.1"
Working with a colleague today, we found what may be a bug in the new version of the getresponses function.

The new version at line 14-15 has a condition that is false if you pass the survey_id as a string, which appears to be permitted by the documentation (and was the case in version 0.3.1, where the logic checks if the survey parameter is of class "sm_survey" and if so overwrites the survey va

[2016-06-20 19:09] iluv2sled opened #20 "createcollector fails when type='email'"
using version 0.3.1, create collector succeeds when type='weblink', but fails when type='email.  The default example is failing:
createcollector(s[[1]]$survey_id, 'Emails', type='email',
    recipients = list('first@example.com', 'second@example.com'),
    email_replyto='me@example.com', email_subject='Please complete a short survey!')

The error message is:
An error occurred: Value [u'52641325']

[2016-06-23 21:28] juyeongkim opened #21 "Cannot register the redirect url"
I was trying to register the redirect url as http://localhost:1410, but I get an error: "Invalid redirect URL".

[2016-07-05 16:03] antaldaniel commented on #21
Same here.

[2016-07-13 20:44] JakeRuss commented on #21
+1

[2016-07-14 08:10] leeper commented on #21
Sorry about this. Unfortunately, this package is a temporary stasis period while I wait to refactor using Survey Monkey's new API (https://github.com/cloudyr/Rmonkey/issues/17), so I'm not sure how to address this. I'll try to work on it soon.

[2016-07-25 11:13] bcaessens opened #22 "Omission in getrespondents.R"
Hi Thomas,

When using fields, like email, first_name, etc... in getrespondents, they are not returned in the output. I believe the oversight to be in the end of the getresponse.R function:

else {
        out <- lapply(content$data$respondents, function(x) {
            structure(list(respondent_id = x$respondent_id, survey_id = survey), class = "sm_respondent")
        })

As you can see, these

[2016-08-09 03:36] SamPortnow opened #23 "getallresponses returns error"
getallresponses from the templates works fine, but not when I create my own survey. When I create my own survey, I get the error "Error in do.call(c, answerchoices) : second argument must be a list". I even created a survey from a template, removed all the the questions, and then added 1 multiple choice question, but still get the same error.

[2016-08-25 14:35] dyeboi2 opened #24 "data.frame contains numbers instead of actual answers"
Hey, when I pull the survey from survey monkey and store it in a data.frame instead of the answer that was actually provided a random number such as "165465461" is giving. Also the column heading aren't the actual questions. How can I fix this? @leeper

[2016-09-03 03:32] klittle314 opened #25 "transition to SurveyMonkey API V3.0"
We got a message about the deprecation of SM API 2.0 in 90 days.   Evidently, version 3.0 has some changes in methods as documented in [http://help.surveymonkey.com/articles/en_US/kb/Transitioning-to-SurveyMonkey-s-v3-API ].    That article suggests changes required in some of the Rmonkey functions, is that on your development path?

thanks!

[2016-09-03 12:26] #14 closed

[2016-09-03 12:26] #15 closed

[2016-09-03 12:26] #16 closed

[2016-09-03 12:26] #18 closed

[2016-09-03 12:26] #19 closed

[2016-09-03 12:26] #20 closed

[2016-09-03 12:26] #21 closed

[2016-09-03 12:26] #22 closed

[2016-09-03 12:26] #23 closed

[2016-09-03 12:26] #24 closed

[2016-09-03 12:26] #25 closed

[2016-09-03 12:27] leeper commented on #25
Unfortunately, I do not have time to work on this, but [invite contributions](https://github.com/cloudyr/Rmonkey/issues/17) to get this working with the v3 API.

[2016-09-03 12:27] leeper commented on #24
Unfortunately, I do not have time to work on this, but [invite contributions](https://github.com/cloudyr/Rmonkey/issues/17) to get this working with the v3 API.

[2016-09-03 12:27] leeper commented on #23
Unfortunately, I do not have time to work on this, but [invite contributions](https://github.com/cloudyr/Rmonkey/issues/17) to get this working with the v3 API.

[2016-09-03 12:27] leeper commented on #22
Unfortunately, I do not have time to work on this, but [invite contributions](https://github.com/cloudyr/Rmonkey/issues/17) to get this working with the v3 API.

[2016-09-03 12:28] leeper commented on #20
Unfortunately, I do not have time to work on this, but [invite contributions](https://github.com/cloudyr/Rmonkey/issues/17) to get this working with the v3 API.

[2016-09-03 12:28] leeper commented on #19
Unfortunately, I do not have time to work on this, but [invite contributions](https://github.com/cloudyr/Rmonkey/issues/17) to get this working with the v3 API.

[2016-09-03 12:28] leeper commented on #18
Unfortunately, I do not have time to work on this, but [invite contributions](https://github.com/cloudyr/Rmonkey/issues/17) to get this working with the v3 API.

[2016-09-03 12:28] leeper commented on #15
Unfortunately, I do not have time to work on this, but [invite contributions](https://github.com/cloudyr/Rmonkey/issues/17) to get this working with the v3 API.

[2016-09-03 12:29] leeper commented on #14
Unfortunately, I do not have time to work on this, but [invite contributions](https://github.com/cloudyr/Rmonkey/issues/17) to get this working with the v3 API.

[2016-12-27 18:35] seanofahey commented on #17
I forked the project and started work on the upgrade of to V3 here https://github.com/seanofahey/Rmonkey.  All help is welcome

[2016-12-28 11:11] leeper commented on #17
If you would like, I can give you write permission here so that you can directly push updates. Interested?

[2017-01-09 11:44] leeper commented on #17
@seanofahey Would you be interested in becoming maintainer of this package?

[2017-01-10 01:06] seanofahey commented on #17
I certainly would like to help out. What's involved in being the maintainer?

In related news I have updated the getresponse function and built a surveyresponses wrapper that is working now.

[2017-01-10 10:29] leeper commented on #17
Basically, just keep doing what you're doing, but also send updates to CRAN (if you want). You would have write permission on the repository so you can make all changes here directly.

[2017-03-30 16:49] sfirke commented on #17
I am able to get my data out of SurveyMonkey using @seanofahey's fork 👍 So it feels like this is almost there.

Results-wise, some to-do enhancements I see there are (a) assign legal variable names to the columns and store the question text in an attribute and (b) ideally, retain ordered factor info for questions where that's applicable.

User-friendliness-wise, the README should be updated to add

[2017-03-31 02:38] seanofahey commented on #17
@sfirke Thanks for the suggestions.  I'll update the README content to sync it with what is available now and then get back to completing the remaining functions.

[2017-03-31 03:13] sfirke commented on #17
@seanofahey I've made some developments on my fork of your fork, https://github.com/sfirke/Rmonkey.

Among other things:

- renamed some functions slightly (taking the style in a [tidyverse direction](http://r-pkgs.had.co.nz/style.html))
- updated the README (and did it in .Rmd)
- the resulting data.frame with the survey data has sequenced variable names in the style of what SurveyMonkey gives you

[2017-03-31 04:21] seanofahey commented on #17
@sfirke I updated the README file on my fork to more clearly explain the functions in use in the RMonkey Demo.R file.  Let's sync tomorrow and we can plan the road ahead.

[2017-08-17 17:22] ClimateNexus commented on #17
Hey guys, thanks to @seanofahey for upgrading to v3.

Just wanted to say that for large survey downloads (N-sizes larger than 2,000) it's really slow due to the for/repeat loops.  After benchmarking, I replaced the loops with purrr::map() and it's hundreds of times faster.  2,500 respondents can be downloaded, filtered, and merged in under 5 minutes using map().  Just wanted to let you guys know i

[2017-08-17 20:49] sfirke commented on #17
@ClimateNexus I would love to see that - do you have it somewhere you could share?

[2017-08-18 16:58] seanofahey commented on #17
@climatenexus thank you!  That was sorely needed. Given where we stand shall we bundle and release the best of what we have and then make a list of the next items to improve?

[2017-10-02 07:59] houjue0703 opened #28 "Survey Monkey disabled API Key"
Hi guys,

This package is super helpful as I am trying to pull survey response into my R. I've run into a problem in the initial step:

As indicated [here](https://developer.surveymonkey.com/api/v3/#getting-started), Survey Monkey has removed API key in the authentication process.

Does anyone know how I can authenticate the smlogin() function without an API key?

Many thanks!

Jue

[2018-01-26 15:24] sfirke commented on #17
@ClimateNexus could you post your updates to this package in a GitHub repo?

[2019-02-27 08:07] AveeDev commented on #28
I'm facing the same issue. Did you perhaps figure out a solution to this?

[2019-04-24 20:15] davidski commented on #17
The PR for API v3 compatibility is pretty stale. I may need to work with SurveyMonkey in the near future and would like to have a clean interface. Are there cycles available from any maintainers to review a fresh PR in the coming weeks should this motivate me enough to contribute some bits? :grin:

[2019-04-24 20:28] leeper commented on #17
I'm no longer maintaining this package. If someone wants to work on it, I'm happy to grant edit rights.

[2019-04-24 21:47] davidski commented on #17
Thanks, @leeper! Let me see if this project materializes to give me the needed drive to dive into this. If so, I'll reach back out to you. Thanks for all the work on this!

[2019-04-26 01:54] seanofahey commented on #17
I’ve been using Qualtrics at work these days and so have not been as focused on Survey Monkey but am happy to share thoughts on potential improvements.

[2019-09-26 23:26] jooyoungseo opened #29 "Expired link info in README"
The following link in README file does not exist: https://developer.surveymonkey.com/member/register.

Please update that information.

[2019-10-03 20:27] sfirke commented on #17
To anyone watching this, I built on the 2016 Rmonkey code (v 0.3.3) and rewrote the putting-the-result-in-a-tidy-data.frame part.  The new package is here: https://github.com/tntp/surveymonkey  It's still a work in progress but should work for most cases.  I'd be eager to hear from users/devs here if you have feedback, find bugs, or can contribute to improving the code.

If it appears satisfactory

[2019-10-04 09:46] leeper commented on #17
@sfirke I’m also happy to have you migrate that code to this repo, if you want. Will gladly give you edit rights if you’re interested.

[2021-11-11 11:24] nesaict opened #30 "I have issue with installing package (freshman with R)"
install.packages("Rmonkey")
Installing package into ‘C:/Users/nresi/OneDrive/Dokumenti/R/win-library/4.1’
(as ‘lib’ is unspecified)
Warning in install.packages :
  package ‘Rmonkey’ is not available for this version of R

Please help

[2021-11-11 11:27] #30 closed, assigned to nobody

[2021-11-11 11:27] nesaict commented on #30
FIXED